.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#sidebar {
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#content{
    width: 80%;
    margin-left: 19%;
    min-height: 100vh;
}
#content{
    transition: all 0.3s;

}
#content.content-full{
    margin-left: 0;
}
.list-group-item:hover{
    cursor: pointer;
}
#rss-container{
    height: 100%;
}

::-webkit-scrollbar{
    width: 0;
}